/*body*/

body {
    background-color: whitesmoke;
    overflow: hidden;
    font-family: sans-serif;
}

/*header*/

header {
    background-color: black;
    background-size: 100%;
    width: 1550px;
    left: -25px;
    padding: 20px;
    height: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -10px;
}

header a {
    color: white;
    text-decoration: none;
    margin-top: 40px;
    position: relative;
    padding: 0;
    top: -18px;
}

/*nav*/

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 15px;
}

.link-header {
    font-size: 25px;
}

.about-header {
    font-size: 25px;
}

/*section*/

.a-section {
    position: relative;
    left: 659px;
}

.bnt-section {
    border-radius: 15px;
    width: 200px;
    height: 25px;
    cursor: pointer;
    transition:all 0.3s ease ;
}

.bnt-section:hover {
    background-color: lightgray;
    cursor: pointer;
}

/*footer*/

.footer {
    background-color: black;
    color: white;
    width: 1550px;
    height: 25px;
    position: relative;
    left: -8px;
    bottom: -420px;
}

.link-footer {
    background-color: black;
    color: white;
    width: 1550px;
    height: 25px;
    position: relative;
    left: -8px;
    bottom: -602px;
}

.ul-footer {
    list-style-type: none;
}

.li-footer {
    bottom: -4px;
    left: -34px;
    position: relative;
}